:root {
  --ff-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --ff-handwriting: 'Gloria Hallelujah', cursive;

  /* mobile font-size  */
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-500--variable: 1.125em;
  --fs-700: 1.75rem;
  --fs-900: 3rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  --clr-w-to-b--100: 120 5% 96%;
  --clr-w-to-b--300: 120 5% 88%;
  --clr-w-to-b--400: 120 6% 80%;
  --clr-w-to-b--500: 120 6% 24%;
  --clr-w-to-b--700: 120 5% 12%;
  --clr-w-to-b--900: 120 5% 4%;

  --bg-main: 120 5% 96%;
  --text-main: 120 5% 4%;

  --padding-spacer-xs: clamp(1rem, 3%, 1.5rem);
  --padding-spacer: clamp(1.5rem, 6%, 3rem);
  --padding-spacer-xl: clamp(3rem, 12%, 6rem);

  --block-spacer-xs: min(2rem, 4vh);
  --block-spacer: min(4rem, 8vh);
  --block-spacer-xl: min(8rem, 16vh);

  --gap-xs: clamp(1rem, 3vmax, 1.5rem);
  --gap: clamp(1.5rem, 6vmax, 3rem);
  --gap-xl: clamp(3rem, 8vmax, 4rem);

  --transition-duration: 1ms;
  --transition-duration--quick: 1ms;
  --transition-delay: 1ms;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --transition-duration: 350ms;
    --transition-duration--quick: 150ms;
    --transition-delay: 50ms;
  }
}

@media (min-width: 60em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.75rem;
    --fs-700: 2rem;
    --fs-900: 3rem;
    --fs-900: max(3rem, 4vw);
  }
}

/* ANIMATIONS */

@keyframes bg-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes rotate-around {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate-around--deformed {
  0% {
    transform: rotate(0deg) scale(1) translate(0);
  }
  25% {
    transform: rotate(90deg) scale(1.2) translate(5%, 5%);
  }
  50% {
    transform: rotate(180deg) scale(1.1) translate(0);
  }
  75% {
    transform: rotate(270deg) scale(1.2) translate(-5%, 3%);
  }
  100% {
    transform: rotate(360deg) scale(1) translate(0);
  }
}

@keyframes shapes-bg {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes moving-line {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 1px;
  outline-width: 0.1em;
  outline-color: currentColor;
  outline-style: dashed;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
html,
body {
  margin: 0;
}
@media (min-width: 60em) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    line-height: 1.4;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
p,
dl,
dt,
dd,
figure {
  margin: 0;
}

ul:where([class]),
ol:where([class]) {
  list-style: none;

  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

fieldset[class] {
  padding: 0;
  margin-inline: 0;

  border: none;
}

::placeholder {
  opacity: 0.75;
}

a {
  position: relative;

  text-decoration: none;

  z-index: 0;

  color: inherit;
}

a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.4em;

  height: 1em;

  z-index: -1;

  background-image: url(/svg/underline.svg);
  background-size: cover;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  aspect-ratio: var(--ratio, 8 / 5);
  width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* skip to content button */
.skip-to-content {
  font-size: var(--fs-700);
  color: black;
  background-color: white;
  padding: 1em;
  font-size: var(--fs-700);
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  transition: transform var(--transition-duration) ease-out;
  z-index: 1000;
}

.skip-to-content:focus {
  transform: translate(-50%, 0%);
}

/* UTILITY CLASSES */

.padding-inline {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: var(--padding-spacer);
  padding-right: var(--padding-spacer);
}

.content--max-width {
  max-width: 60rem;
  max-width: min(60rem, 100% - calc(2 * var(--padding-spacer)));
  margin-inline: auto;
}

button,
.button-style {
  background-color: transparent;

  padding: 0.25em 1.25em;

  border: 0.2em solid hsl(var(--clr-w-to-b--500));
  border-radius: 61% 39% 72% 28% / 52% 53% 47% 48%;

  transition: opacity var(--transition-duration--quick) linear;
}

button:hover,
.button-style:hover {
  opacity: 0.8;
}

.flow-spacer > * + * {
  --flow-spacer: var(--block-spacer, 2rem);
  margin-top: var(--flow-spacer);
}

.flow-spacer > *[hidden] + * {
  margin-top: 0;
}

.spacer-xs > * + * {
  --flow-spacer: var(--block-spacer-xs, 1rem);
}

.spacer-xl > * + * {
  --flow-spacer: var(--block-spacer-xl, 4rem);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--gap);
}

.gap-xs {
  gap: var(--gap-xs);
}

.gap-xl {
  gap: var(--gap-xl);
}

.link--block {
  display: block;
  max-width: max-content;
}

.color-light {
  color: hsl(var(--clr-w-to-b--100));
}

.text-highlight {
  /* --highlight-clr: ; */
  /* --highlight-bg: ; */
  position: relative;

  color: hsl(var(--highlight-clr, var(--clr-w-to-b--100)));

  padding: 0.1em;

  z-index: 0;
}

.text-highlight::before {
  content: '';
  position: absolute;
  inset: 0;

  background-color: hsl(var(--highlight-bg, var(--clr-w-to-b--900)));

  z-index: -1;

  transform: rotate(2deg);
  filter: url(#noise-filter--1);
}

/* TYPOGRAPHY */

.cursive {
  font-family: var(--ff-handwriting);
  line-height: 1.8;
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  font-family: var(--ff-handwriting);
}

a {
  font-family: var(--ff-handwriting);
  line-height: 1.8;
}

.projects .card__title {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  font-family: var(--ff-handwriting);
}

.card details summary {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-500--variable);
}

/* GENERAL LAYOUT */

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);

  color: hsl(var(--text-main));
  background-color: hsl(var(--clr-w-to-b--100));
}

main {
  max-width: 100rem;

  margin-inline: auto;
  padding-top: var(--block-spacer);
  padding-bottom: var(--block-spacer-xl);
}

article {
  position: relative;
}

h2 {
  width: max-content;
}

/* COMPONENTS */

/* HERO */

/* <AboutMe /> */
.about-me--primary__text-wrapper {
  position: relative;

  padding-block: var(--padding-spacer);

  z-index: 0;
}

/* background with shapes on about-me text container */
.about-me--primary__text__bg {
  position: absolute;
  inset: 0;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;

  /* set color to set svg shapes stroke color */
  color: hsl(var(--clr-w-to-b--300));
  background-color: hsl(var(--clr-w-to-b--700));

  z-index: -1;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .about-me--primary__text__bg svg {
    display: block;
    animation: shapes-bg 100s infinite linear;
  }
}

.about-me--primary__text > span {
  display: block;
}

/* <RandomFacts /> */
.random-facts-fieldset legend {
  width: 100%;
}

.random-facts-bg {
  padding-block: var(--padding-spacer);
  background-image: linear-gradient(
    150deg,
    hsl(var(--clr-w-to-b--900)),
    hsl(var(--clr-w-to-b--700))
  );
}

@media (prefers-reduced-motion: no-preference) {
  .random-facts-bg {
    background-size: 400%;
    overflow: hidden;
    animation: bg-gradient 40s infinite alternate linear;
  }
}

.random-facts-description {
  color: hsl(var(--clr-w-to-b--400));
}

/* div with radio buttons inside */
.facts__buttons-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 25rem;
  margin-inline: auto;
}

/* individual wrapper for each radio button */
.fact-radio-container {
  position: relative;
  display: inline-block;
}

input[class^='fact-radio'] {
  display: inline-block;

  width: 32px;
  height: 32px;

  margin: 0;

  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* svg that replaces default radio button */
input[class^='fact-radio'] + svg {
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: none;

  fill: none;
  stroke: hsl(var(--clr-w-to-b--100));
}

input[class^='fact-radio']:hover + svg {
  fill: hsl(var(--clr-w-to-b--500));
}

input[class^='fact-radio']:focus + svg,
input[class^='fact-radio']:checked + svg {
  fill: hsl(var(--clr-w-to-b--100));
}

/* box with random fact that appears on radio button select */
.fact-text {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;

  min-height: 10rem;

  padding: 1em;

  display: grid;
  place-content: center;

  background: hsl(var(--clr-w-to-b--500) / 0.8);
  backdrop-filter: blur(2px);

  border-radius: 4px;

  z-index: 2;

  transform-origin: top;
}
/* 'react-transition-group' class based transitions */
.fact-text-enter {
  transform: scaleY(0);
}
.fact-text-enter-active {
  transform: scaleY(1);
  transition: transform var(--transition-duration);
}
.fact-text-exit {
  transform: scaleY(1);
}
.fact-text-exit-active {
  transform: scaleY(0);
  transition: transform var(--transition-duration);
}

.buttons-and-solar-system-wrapper {
  flex-direction: column;
}

.solar-system {
  position: relative;

  min-width: 18rem;
  width: min(100%, 95vh);
  max-width: 30rem;
  aspect-ratio: 1 / 1;

  margin-inline: auto;
  margin-block: 1em;
}

/* label is a container for individual shapes aka planets */
.solar-system > label[class^='fact-label'] {
  position: absolute;
  inset: var(--orbit-inset);

  pointer-events: none;

  border: 1px solid;
  border-color: hsl(var(--clr-w-to-b--500));
  border-radius: 50%;

  transition: border-color var(--transition-duration--quick);

  animation-name: rotate-around--deformed;
  animation-duration: var(--revolution-duration);
  animation-delay: -33s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation paused by default */
  animation-play-state: paused;
}

.fact-label--triangle {
  --orbit-inset: 36%;
  --revolution-duration: 25s;
}
.fact-label--circle {
  --orbit-inset: 30%;
  --revolution-duration: 35s;
}
.fact-label--octagon {
  --orbit-inset: 24%;
  --revolution-duration: 38s;
}
.fact-label--rhombus {
  --orbit-inset: 18%;
  --revolution-duration: 48s;
}
.fact-label--pentagon {
  --orbit-inset: 12%;
  --revolution-duration: 63s;
}
.fact-label--hexagon {
  --orbit-inset: 6%;
  --revolution-duration: 81s;
}
.fact-label--square {
  --orbit-inset: 0%;
  --revolution-duration: 102s;
}

.solar-system label[class^='fact-label'].active {
  border-color: hsl(var(--clr-w-to-b--300));
}

@media (prefers-reduced-motion: no-preference) {
  .solar-system > label[class^='fact-label'] {
    animation-play-state: running;
  }

  .solar-system:hover > label[class^='fact-label'] {
    animation-play-state: paused;
  }
}

/* svg aka planets inside solar system */
.solar-system > label[class^='fact-label'] .planet {
  position: absolute;
  left: calc(50% - 16px);
  top: -16px;

  cursor: pointer;
  pointer-events: auto;

  fill: hsl(var(--clr-w-to-b--700));
  stroke: hsl(var(--clr-w-to-b--100));

  transition: fill var(--transition-duration);
}

.solar-system > label[class^='fact-label']:hover .planet {
  fill: hsl(var(--clr-w-to-b--500));
}

.solar-system > label[class^='fact-label'].active .planet {
  fill: hsl(var(--clr-w-to-b--100));
}

@media (prefers-reduced-motion: no-preference) {
  .solar-system > label[class^='fact-label'] .planet {
    animation: rotate-around 13s infinite linear;
  }
}

.solar-system > .sun-wrapper {
  --clr-sun: 43 74% 49%;

  position: absolute;
  top: 50%;
  left: 50%;

  display: grid;
  place-content: center;

  min-width: 84px;
  min-height: 84px;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.solar-system > .sun-wrapper::before {
  content: '';
  position: absolute;
  inset: 16px;
  background-color: hsl(var(--clr-sun));
  border-radius: 50%;
  box-shadow: 0 0 65px 0 hsl(var(--clr-sun));
}

.solar-system > .sun-wrapper > svg {
  fill: hsl(var(--clr-sun));
  overflow: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .solar-system > .sun-wrapper > svg {
    transform-origin: center;
    animation: rotate-around 20s infinite reverse linear;
  }
}

/* PROJECTS */

.projects .cards-wrapper {
  max-width: min(80rem, 100% - calc(2 * var(--padding-spacer)));

  margin-inline: auto;
}

/* CARD */
.card__photo-wrapper {
  position: relative;

  min-width: 18rem;
  width: 100%;
  min-height: 15rem;
  max-height: min(70vh, 40rem);

  overflow: auto;

  box-shadow: 0.1em 0.2em 0.3em hsl(var(--clr-w-to-b--500) / 0.2);
}
@media (min-width: 40em) {
  .card {
    grid-template-columns: minmax(15rem, min(30rem, 40%)) minmax(50%, 1fr);
  }

  /* same max-height on photo and description to prevent layout shift */
  .card__description,
  .card__photo-wrapper {
    max-height: min(80vh, 40rem);
    overflow: auto;
    position: relative;
  }
}

.card details summary {
  cursor: pointer;
  display: inline-block;
}

.card details summary::before {
  content: '\002B';
  padding-right: 0.25em;
}

.card details[open] summary::before {
  content: '\2212';
}

@media speech {
  .card details summary::before {
    visibility: none;
  }
}

.card details .expandable li {
  list-style: circle inside;
}

/* ChezMman project */

/* ChezMman dark mode toggle */
.chez-mman .photo-and-button-wrapper {
  position: relative;
}

.scheme-toggle-button {
  position: absolute;
  right: 1em;
  bottom: -1.3rem;

  width: 5rem;
  height: 2.6rem;

  display: grid;
  grid-template-columns: 1rem 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.75rem;

  border: none;
  border-radius: 10rem;
}

/* no outline but bear body on focus */
.scheme-toggle-button:focus {
  outline: none;
}
.scheme-toggle-button:focus::after {
  box-shadow: inset 0 0 3px hsl(var(--clr-w-to-b--700));
}
.scheme-toggle-button:focus:not(:focus-visible)::after {
  box-shadow: none;
}

.scheme-toggle-button__icon {
  pointer-events: none;
  z-index: 2;
}

.scheme-toggle-button::after {
  /* pseudoelement to resolve the problem with stacking content,
     on button focus the bear was behind text */
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(var(--bg-main));
  border: 1px solid hsl(var(--clr-w-to-b--700));
  border-radius: 10rem;
}

.scheme-toggle-button::before {
  content: '';
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  bottom: 0.2rem;
  width: 2.2rem;
  background-color: hsl(var(--clr-w-to-b--500) / 0.8);
  border-radius: 50%;
  z-index: 1;
  transition: transform var(--transition-duration) ease-out;
}

.scheme-toggle-button[aria-pressed='true']::before {
  transform: translateX(2.4rem);
}

/* unset default opacity when hovering a button */
.scheme-toggle-button:hover {
  opacity: 1;
}

.scheme-toggle-button .bear-body {
  position: absolute;
  top: 0;
  left: 50%;
  height: 1.6rem;
  transform: translateY(0%);
  transition: transform var(--transition-duration) ease-out;
}

.scheme-toggle-button:hover .bear-body {
  transform: translateY(-30%);
  transition-duration: var(--transition-duration--quick);
}
.scheme-toggle-button:focus .bear-body {
  transform: translateY(-100%);
}

@keyframes bear-arm--from-left {
  0% {
    transform: translate(0, -50%) rotate(180deg);
  }
  35% {
    transform: translate(-70%, -50%) rotate(180deg);
  }
  55% {
    transform: translate(-70%, -50%) rotate(180deg) scaleX(0.8);
  }
  75% {
    transform: translate(-50%, -50%) rotate(180deg) scaleX(0.8);
  }
  100% {
    transform: translate(-40%, -50%) rotate(180deg) scaleX(0.8);
  }
}
@keyframes bear-arm--from-right {
  0% {
    transform: translate(0, -50%);
  }
  35% {
    transform: translate(70%, -50%);
  }

  55% {
    transform: translate(70%, -50%) scaleX(0.8);
  }

  75% {
    transform: translate(50%, -50%) scaleX(0.8);
  }

  100% {
    transform: translate(40%, -50%) scaleX(0.8);
  }
}

.bear-arm {
  position: absolute;
  top: 50%;
  width: 1.6rem;
  transform-origin: center;
  transform: translateY(-50%);
  animation-duration: var(--transition-duration);
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.bear-arm--from-left {
  left: 0;

  animation-name: bear-arm--from-left;
}

.bear-arm--from-right {
  right: 0;

  animation-name: bear-arm--from-right;
}

/* END ChezMman dark mode toggle */

/* Kanban project */

.kanban .card__photo-wrapper {
  position: relative;
}

.line-work-in-progress {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.line-work-in-progress .line-wrapper {
  position: absolute;
  height: 2.5em;
  left: -1em;
  top: 80%;
  width: 130%;
  transform: rotate(-25deg);
  transform-origin: left;

  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);

  background-image: linear-gradient(
    to bottom,
    hsl(49, 100%, 70%) 50%,
    hsl(49, 100%, 62%) 50%
  );
}

.line-work-in-progress .line-wrapper .moving-text {
  background-image: linear-gradient(
    to bottom,
    hsl(0 0% 15%) 50%,
    hsl(0 0% 10%) 50%
  );
  background-clip: text;
  color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .line-work-in-progress .moving-text {
    position: absolute;
    left: -40%;
    width: 30%;

    animation-name: moving-line;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  .moving-text.first {
    animation-delay: -20s;
  }
  .moving-text.second {
    animation-delay: -10s;
  }
  .moving-text.third {
    animation-delay: 0s;
  }
}
