@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Open+Sans:wght@300;400;700&family=Permanent+Marker&family=Stint+Ultra+Condensed&display=swap');
/*  */

:root {
  --ff-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --ff-headings: 'Stint Ultra Condensed', cursive;
  --ff-handwriting: 'Gloria Hallelujah', cursive;

  /* mobile font-size  */
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-500--variable: 1.125em;
  --fs-700: 1.75rem;
  --fs-900: 3rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  --clr--main-400: 0 0% 20%;
  --clr--main-900: 0 0% 7%;
  --clr--accent-400: 212 80% 36%;
  --clr--accent-700: 212 40% 36%;
  --clr--complementary-400: 32 80% 36%;
  --clr--complementary-700: 32 40% 36%;
  --bg--main: 30 14% 97%;

  --gradient--clr--accent--faded: hsl(var(--clr--accent-400)) 34%,
    hsl(var(--clr--accent-400) / 0.3) 50%, hsl(var(--clr--accent-400)) 65%;
  --gradient--clr--accent--solid: hsl(var(--clr--accent-400)) 34%,
    hsl(var(--clr--accent-400));

  --padding-spacer-xs: clamp(1rem, 3%, 1.5rem);
  --padding-spacer: clamp(1.5rem, 6%, 3rem);
  --padding-spacer-xl: clamp(3rem, 12%, 6rem);

  --block-spacer-xs: min(2rem, 4vh);
  --block-spacer: min(4rem, 8vh);
  --block-spacer-xl: min(8rem, 16vh);

  --gap-xs: clamp(1rem, 3vmax, 1.5rem);
  --gap: clamp(1.5rem, 6vmax, 3rem);
  --gap-xl: clamp(3rem, 8vmax, 4rem);

  --transition-duration: 1ms;
  --transition-duration--quick: 1ms;
  --transition-delay: 1ms;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --transition-duration: 350ms;
    --transition-duration--quick: 150ms;
    --transition-delay: 50ms;
  }
}

@media (min-width: 60em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.75rem;
    --fs-700: 2rem;
    --fs-900: 3rem;
    --fs-900: max(3rem, 4vw);
  }
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 1px;
  outline-width: 0.1em;
  outline-color: currentColor;
  outline-style: dashed;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (min-width: 60em) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    line-height: 1.4;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
p,
dl,
dt,
dd,
figure {
  margin: 0;
}

ul:where([class]),
ol:where([class]) {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline-width: 0.1em;
}

::placeholder {
  opacity: 0.75;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  z-index: 0;

  transition: color var(--transition-duration) linear;
}

a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1em;
  z-index: -1;
  bottom: -0.4em;
  background-image: url(/svg/underline.svg);
  background-size: cover;
}

a:hover {
  color: hsl(var(--clr--accent-400));
  outline-color: hsl(var(--clr--accent-400));
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  display: flow-root;
}

iframe {
  aspect-ratio: var(--ratio, 8 / 5);
  width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* skip to content button */
.skip-to-content {
  font-size: var(--fs-700);
  color: var(--clr--accent-400);
  background-color: white;
  padding: 1em;
  font-size: var(--fs-700);
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  transition: transform var(--transition-duration) ease-out;
  z-index: 1000;
}

.skip-to-content:focus {
  transform: translate(-50%, 0%);
}

/* UTILITY CLASSES */

.container {
  /* TODO: check max-width */
  max-width: 60rem;
  margin: 0 auto;
  padding-bottom: var(--block-spacer-xl);
}

.container > * {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: var(--padding-spacer-xs);
  padding-right: var(--padding-spacer-xs);
}

button,
.button-style {
  background-color: hsl(var(--bg--main));
  padding: 0.25em 1.25em;
  border: 0.1em solid hsl(var(--clr--accent-400));
  border-radius: 61% 39% 72% 28% / 52% 53% 47% 48%;
  transition: color var(--transition-duration--quick) linear;
}

button:hover,
.button-style:hover {
  color: hsl(var(--clr--accent-400));
  outline-color: hsl(var(--clr--accent-400));
}

.text-max-length {
  max-width: 50ch;
}

.flow-spacer > * + * {
  --flow-spacer: var(--block-spacer, 2rem);
  margin-top: var(--flow-spacer);
}

.spacer-xs > * + * {
  --flow-spacer: var(--block-spacer-xs, 1rem);
}

.spacer-xl > * + * {
  --flow-spacer: var(--block-spacer-xl, 4rem);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@media (min-width: 40em) {
  /* TODO: use or delete or refactor and delete */
  .grid--3-col {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid--span-2 {
    grid-column: span 2;
  }
}

.gap {
  gap: var(--gap);
}

.gap-xs {
  gap: var(--gap-xs);
}

.gap-xl {
  gap: var(--gap-xl);
}

.link--block {
  display: block;
  max-width: max-content;
  margin-block: 0.3em;
}

.text-highlight {
  --highlight-clr: var(--noise-clr-faded);
  color: hsl(var(--text-clr, var(--bg--main)));
  position: relative;
  z-index: 0;
}

.text-highlight::before {
  content: '';
  background-color: hsl(var(--highlight-clr, var(--clr--main-900)));
  z-index: -1;

  position: absolute;
  inset: -0.2rem;
  transform: rotate(1deg);

  filter: url(#noise-filter--1);
}

.text-highlight-border {
  position: relative;
  z-index: 0;
  color: hsl(var(--bg--main));
  padding: 0.1em;
  /* outline: 0.1em solid hsl(var(--clr--accent-400)); */
  outline-offset: 0.1em;
  transform: rotate(0);
}

.text-highlight-border::before,
.text-highlight-border::after {
  content: '';
  z-index: -1;
  position: absolute;
  pointer-events: none;
  transform: rotate(3deg);
}

.text-highlight-border::after {
  inset: 0;
  /* border: 1px solid currentColor; */
}
.text-highlight-border--short::after {
  transform: rotate(6deg);
  transform: rotate(3deg);
}

.text-highlight-border::before {
  inset: 0;
  background-color: hsl(var(--clr--main-900));
  filter: url(#noise-filter--1);
}

.noise-border {
  --noise-clr: var(--clr--accent-400);
  --noise-clr-faded: var(--clr--accent-700);

  --noise-filter: url(#noise-filter--1);
  position: relative;
}

.noise-border::before {
  /* content: ''; */
  position: absolute;
  inset: -0.2em;
  pointer-events: none;
  filter: var(--noise-filter);
  box-shadow: 0 0 0 0.07em hsl(var(--noise-clr, var(--clr--accent-400))),
    0 0 0 0.23em hsl(var(--bg--main)),
    0 0 0 0.3em hsl(var(--noise-clr, var(--clr--accent-400)));
}

.noise-border:nth-of-type(3n + 2) {
  /* TODO: choose color scheme */
  --noise-clr: var(--clr--main-900);
  --noise-clr-faded: var(--clr--main-900);

  /* analogous */
  --noise-clr: 182, 80%, 36%;
  --noise-clr-faded: 182, 40%, 36%;

  /* triadic */
  --noise-clr: 332, 80%, 36%;
  --noise-clr-faded: 332, 40%, 36%;

  --noise-filter: url(#noise-filter--2);
}

.noise-border:nth-of-type(3n + 3) {
  /* TODO: choose color scheme */
  --noise-clr: var(--clr--complementary-400);
  --noise-clr-faded: var(--clr--complementary-700);

  /* analogous */
  --noise-clr: 242, 80%, 36%;
  --noise-clr-faded: 242, 40%, 36%;

  /* triadic */
  --noise-clr: 92, 80%, 36%;
  --noise-clr-faded: 92, 40%, 36%;

  --noise-filter: url(#noise-filter--3);
}

/* TYPOGRAPHY */

.cursive {
  font-family: var(--ff-handwriting);
}

h1 {
  font-family: var(--ff-headings);
  text-transform: uppercase;
  font-size: var(--fs-900);
  line-height: 1.1;
  text-align: center;
}
h1 span {
  display: inline-block;
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  width: max-content;
  font-family: var(--ff-handwriting);
}

.projects h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.portrait-author {
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  line-height: 1;
}

.about-me--secondary__title,
.about-me--primary__title {
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.card__title {
  font-family: var(--ff-handwriting);
}

.card details summary {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-500--variable);
}

/* GENERAL LAYOUT */

body {
  max-width: 100rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  /* TODO padding on big screens??? */
  /* padding-top: var(--padding-spacer-xl); */
  /* padding-bottom: var(--padding-spacer-xl); */
  /* padding-left: var(--padding-spacer-xs); */
  /* padding-right: var(--padding-spacer); */
}

body {
  /* TODO: change colors to variables */
  /* dotted background */
  background: radial-gradient(black 5%, transparent 20%) -3px -3px,
    radial-gradient(black 5%, transparent 20%) 4px 4px;
  background-size: 15px 15px;
}

.frame {
  /* TODO: change colors to variables */
  border: 2px solid hsl(var(--clr--main-400));
  box-shadow: 3px 5px 0 0 white, 3px 5px 0 1px black, 7px 9px 0 0 white,
    7px 9px 0 1px black, 11px 13px 0 1px black;
  background-color: hsl(var(--bg--main));
}

article {
  position: relative;
  padding-top: var(--block-spacer);
}

article::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 3px solid hsl(var(--clr--main-900));
}

/* COMPONENTS */

/* TITLE */
.newspaper-logo-wrapper {
  padding-block: 1em;
  border-bottom: 1px solid hsl(var(--clr--main-400) / 0.2);
  overflow: hidden;
}

.newspaper-logo-wrapper svg {
  width: 20rem;
  width: clamp(20rem, 50vw, 40rem);
  margin-left: auto;
  margin-right: auto;
}

/* HERO */

.portrait-wrapper {
  margin-inline: auto;
}

.portrait-wrapper {
  /* TODO: change to right svg */
  position: relative;
  align-items: end;
  display: grid;
  width: 100%;
  min-height: 20rem;
}

.portrait-author {
  margin-top: -0.5em;
  margin-left: 0.5em;
}

.about-me--primary > span {
  display: block;
}

.about-me--primary__title {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-left: 0.1em;
}

.about-me--secondary {
  /* padding: var(--padding-spacer-xs); */
  max-width: fit-content;
}

.about-me--secondary__title {
  margin-left: 0.1em;
  margin-right: 0.5em;
}
.bio svg {
  margin-top: 1em;
  width: 3rem;
  height: 3rem;
  animation: rotateBlob 10s infinite linear;
}
@keyframes rotateBlob {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.bio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bio > p {
  grid-column: span 3;
}

@media (min-width: 40em) {
  .hero-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }
  .about-me--secondary {
    /* align-self: center; */
    /* grid-row: span 2; */
  }
  .about-me--secondary.big {
    /* grid-row: span 4; */
    /* grid-column: span 3; */
  }
  .about-me--secondary.medium {
    /* grid-row: span 3; */
    /* grid-column: span 2; */
  }
  .bio-wrapper {
    grid-column: span 3;
    grid-column: span 2;
    /* grid-column: span 4; */
    /* grid-row: span 10; */
  }
  .portrait-wrapper {
    /* TODO: try shape-outside: url(../portrait.svg) with float and no margin and no noise border */
    float: left;
    max-width: 20rem;

    margin-right: var(--block-spacer-xs);
    margin-bottom: var(--block-spacer-xs);
  }

  .bio {
    margin-top: 0;
  }
}

/* PROJECTS */

/* CARD */
.card {
  align-items: start;
}
@media (min-width: 45em) {
  .card {
    /* TODO: aspect-ratio or max-height? */
    grid-template-columns: minmax(20rem, 30rem) 1fr;
  }
  .polaroid-frame {
    /* width: clamp(20rem, 100%, 30rem); */
    max-width: 30rem;
    margin-inline: inherit;
  }
}

.polaroid-frame {
  /* width: clamp(20rem, 100%, 30rem); */
  max-width: 30rem;
  margin-inline: auto;
}

/* TODO: check frame size on mobile in landscape mode */
.polaroid-frame {
  /* TODO: inset and padding on frame!! */
  background-color: hsl(0, 0%, 98.7%);
  position: relative;
  padding: 1rem 0.5rem 0 0.5rem;

  box-shadow: 2px 2px 9px 1px hsl(var(--clr--main-400) / 0.2);
}
.photo-and-title-wrapper {
}
.ableton .card__photo-wrapper {
  /* box-shadow: 2px 2px 9px 1px hsl(var(--clr--main-400) / 0.2); */
  position: relative;
}

.ableton .card__photo-wrapper::before {
}
.ableton .noise-border {
  width: 90%;
  margin-inline: auto;
  z-index: 2;
}
.ableton .noise-border::after {
  /* content: ''; */
  position: absolute;
  z-index: -1;
}
.ableton .noise-border::before {
  background-color: hsl(var(--bg--main));
}

.ableton .card__title {
  margin-top: 2em;
  padding: 0.5em 1em;
  max-width: fit-content;
  min-height: 0 !important;
  margin-inline: auto;
  z-index: 0;
  box-shadow: 2px 2px 0.5em 0em hsl(var(--clr--main-400) / 0.2);
}
.ableton .card__title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  height: 2em;
  transform: translateY(-100%);
  z-index: -1;
  border-left: 1px solid hsl(var(--clr--main-400) / 0.8);
  border-right: 1px solid hsl(var(--clr--main-400) / 0.8);
  box-shadow: inset 7px 0 5px -5px hsl(var(--clr--main-400) / 0.1),
    inset -7px 0 5px -5px hsl(var(--clr--main-400) / 0.1),
    7px 0 5px -5px hsl(var(--clr--main-400) / 0.1),
    -7px 0 5px -5px hsl(var(--clr--main-400) / 0.1);
}

.card__photo-wrapper {
  /* TODO: max height on photo or smthing? */
  /* TODO: no background-color */
  position: relative;
  filter: grayscale(100%);
  width: 100%;
  overflow: auto;
  /* background-color: blue; */
  aspect-ratio: 1 / 1;
}
.card__photo-wrapper:hover,
.card__photo-wrapper:focus {
  filter: none;
}

.polaroid-frame--shadow-inside {
  /* TODO: fix title size */

  box-shadow: inset 0 0 4px 1px hsl(var(--clr--accent-400) / 0.1);
  position: absolute;
  inset: 1rem 0.5rem 5rem 0.5rem;

  pointer-events: none;
  z-index: 1;
}

.polaroid-frame--work-in-progress {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.polaroid-frame--work-in-progress .line-wrapper {
  position: absolute;
  height: 2.5em;
  left: -1em;
  top: 80%;
  width: 130%;
  transform: rotate(-25deg);
  transform-origin: left;

  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);

  background-image: linear-gradient(
    to bottom,
    hsl(49, 100%, 70%) 50%,
    hsl(49, 100%, 62%) 50%
  );
}

.polaroid-frame--work-in-progress .line-wrapper .moving-text {
  background-image: linear-gradient(
    to bottom,
    hsl(0 0% 15%) 50%,
    hsl(0 0% 10%) 50%
  );
  background-clip: text;
  color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes moving-line {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }

  .polaroid-frame--work-in-progress .moving-text {
    position: absolute;
    left: -40%;
    width: 30%;

    animation-name: moving-line;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  .moving-text.first {
    animation-delay: -20s;
  }
  .moving-text.second {
    animation-delay: -10s;
  }
  .moving-text.third {
    animation-delay: 0s;
  }
}

.card__title {
  display: grid;
  place-items: center;
  min-height: 5rem;
}

.card details summary {
  cursor: pointer;
  display: inline-block;
}

.card details summary::before {
  content: '\002B';
  padding-right: 0.25em;
}

.card details[open] summary::before {
  content: '\2212';
}

.card details .expandable li {
  list-style: circle inside;
}

/* ChezMman dark mode toggle */
.card__title {
  position: relative;
}

.scheme-toggle-button {
  position: absolute;
  bottom: -1.5rem;

  width: 5rem;
  height: 2.6rem;

  display: grid;
  grid-template-columns: 1rem 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.75rem;

  border: none;
  border-radius: 10rem;
}

/* no outline but bear body on focus */
.scheme-toggle-button:focus {
  outline: none;
}

.scheme-toggle-button__icon {
  pointer-events: none;
  z-index: 2;
}

.scheme-toggle-button::after {
  /* pseudoelement to resolve the problem with stacking content,
     on button focus the bear was behind text */
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(var(--bg--main));
  outline: 1px solid hsl(var(--clr--accent-400));
  border-radius: 10rem;
}

.scheme-toggle-button::before {
  content: '';
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  bottom: 0.2rem;
  width: 2.2rem;
  background-color: hsl(var(--clr--accent-400) / 0.8);
  border-radius: 50%;
  z-index: 1;
  transition: transform var(--transition-duration) ease-out;
}

.scheme-toggle-button[aria-pressed='true']::before {
  transform: translateX(2.4rem);
}

.scheme-toggle-button .bear-body {
  position: absolute;
  top: 0;
  left: 50%;
  height: 1.6rem;
  transform: translateY(0%);
  transition: transform var(--transition-duration) ease-out;
}

.scheme-toggle-button:hover .bear-body {
  transform: translateY(-30%);
  transition-duration: var(--transition-duration--quick);
}
.scheme-toggle-button:focus .bear-body {
  transform: translateY(-100%);
}

@keyframes bear-arm--from-left {
  0% {
    transform: translate(0, -50%) rotate(180deg);
  }
  35% {
    transform: translate(-70%, -50%) rotate(180deg);
  }
  55% {
    transform: translate(-70%, -50%) rotate(180deg) scaleX(0.8);
  }
  75% {
    transform: translate(-50%, -50%) rotate(180deg) scaleX(0.8);
  }
  100% {
    transform: translate(-40%, -50%) rotate(180deg) scaleX(0.8);
  }
}
@keyframes bear-arm--from-right {
  0% {
    transform: translate(0, -50%);
  }
  35% {
    transform: translate(70%, -50%);
  }

  55% {
    transform: translate(70%, -50%) scaleX(0.8);
  }

  75% {
    transform: translate(50%, -50%) scaleX(0.8);
  }

  100% {
    transform: translate(40%, -50%) scaleX(0.8);
  }
}

.bear-arm {
  position: absolute;
  top: 50%;
  width: 1.6rem;
  transform-origin: center;
  transform: translateY(-50%);
  animation-duration: var(--transition-duration);
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.bear-arm--from-left {
  left: 0;

  animation-name: bear-arm--from-left;
}

.bear-arm--from-right {
  right: 0;

  animation-name: bear-arm--from-right;
}

/* END ChezMman dark mode toggle */

/* Kanban project */
